/** Reset */
#mp, #mp div, #mp span, #mp h1, #mp h2, 
#mp h3, #mp h4, #mp h5, #mp h6, 
#mp p, #mp blockquote, #mp pre, #mp a, 
#mp code, #mp em, #mp img, #mp strong, #mp ol, 
#mp ul, #mp li, #mp table, #mp tbody, #mp tfoot, 
#mp thead, #mp tr, #mp th, #mp td,
#mp-req, #mp-req div, #mp-req span, #mp-req h1, #mp-req h2, 
#mp-req h3, #mp-req h4, #mp-req h5, #mp-req h6, 
#mp-req p, #mp-req blockquote, #mp-req pre, #mp-req a, 
#mp-req code, #mp-req em, #mp-req img, #mp-req strong, #mp-req ol, 
#mp-req ul, #mp-req li, #mp-req table, #mp-req tbody, #mp-req tfoot, 
#mp-req thead, #mp-req tr, #mp-req th, #mp-req td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}
#mp ol, #mp ul, #mp-req ol, #mp-req ul {
  list-style: none;
}
#mp table, #mp-req table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** Mini Profiler Styles */
#mp {
  margin: 0; padding: 0; background: #FFFFFF; color: #111111; 
  z-index: 10000; position: absolute; top: 0; left: 0;
  font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1em;
  border: 1px solid #999999; border-left: none; border-top: none;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;    
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.25); -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.25); box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
}
#mp a { color: #333333; }
#mp .redirect, #mp .normal, #mp .ajax { margin: 0; padding: 0; }
#mp .redirect a, #mp .normal a, #mp .ajax a { display: block; padding: 10px 10px 10px 24px; text-decoration: none; font-weight: bold; text-align: right; }
#mp .ajax a { background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAAAQABAAAAImjI+ZoG3A3IE0ULhsRPvZ1n3KtYUTNkmhqWYex5ULRqKOLaX5HhQAOw==) no-repeat 5px; }
#mp .redirect a { background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAQAQAA8AAAIejI+pwHywEnQILmqsbPXyp4SZGGokeErp1mDrC6cFADs=) no-repeat 5px; }

#mp-req { 
  margin: 0; padding: 0; background: #FFFFFF; color: #111111;
  z-index: 10000; position: absolute; top: 0; left: 135px; width: 640px;
  font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1em; text-align: left;
  border: 1px solid #999999; border-top: none;
  -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;  
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.25); -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.25); box-shadow: 5px 5px 15px rgba(0,0,0,0.25);  
}
#mp-req a { color: #111111; text-decoration: none; }
#mp-req h2 { color: #999999; margin: 0 0 5px; padding: 0; font-size: 18px; line-height: 1em; text-align: left; }
#mp-req h3 { color: #999999; margin: 10px 0; padding: 0; font-size: 14px; line-height: 1em; text-align: left; }
#mp-req table { width: 100%; border: 1px solid #EEEEEE;}
#mp-req table > thead > tr > th { text-align: left; padding: 5px; border-bottom: 1px solid #EEEEEE; font-size: 12px; text-align: left; line-height: 1em;}
#mp-req table > tbody > tr > td { padding: 2px 5px; vertical-align: top; font-size: 12px; text-align: left; line-height: 1em; }
#mp-req .expand { padding: 2px 2px 2px 18px; background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAAAQABAAAAIljI+pm+AP3wFs2hqo0bfz3XQgwmmRM2YhKapsCrsyU2LyidtLAQA7) no-repeat; }
#mp-req .collapse { padding: 2px 2px 2px 18px; background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAAAQABAAAAIijI+pm+AP3wFs2hqo0ZVz5mHZlUHkt4SY2pGgm07RjIpGAQA7) no-repeat; }

#mp-req #mp-req-header { overflow: hidden; padding: 10px; border-bottom: 1px solid #CCCCCC; }
#mp-req #mp-req-url { float: left; font-weight: bold; width: 50%; }
#mp-req #mp-req-time { float: right; color: #999999; width: 46%; text-align: right;}
#mp-req #mp-req-close { float: right; width: 4%; text-align: right; }

#mp-req #mp-req-profile { padding: 10px; border-bottom: 1px solid #CCCCCC; }
#mp-req #mp-req-profile-header { border-bottom: 1px solid #EEEEEE; width: 100%; font-weight: bold; }
#mp-req #mp-req-profile .name { display: inline-block; vertical-align: top; width: 50%; padding: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#mp-req #mp-req-profile .time { display: inline-block; vertical-align: top; width: 15%; padding: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#mp-req #mp-req-profile-table ul, #mp-req-profile-table li { margin: 0; padding: 0; list-style: none; font-size: 1em; line-height: 1em; text-align: left; }

#mp-req #mp-req-as { padding: 10px; }
#mp-req #mp-req-as .stack { margin: 15px 0 15px 15px; font-family: monospace; font-size: 10px; overflow: auto; width: 380px; }

#mp-req #mp-req-as-jamon { padding: 10px; }
#mp-req #mp-req-as-jamon .stack { margin: 15px 0 15px 15px; font-family: monospace; font-size: 10px; overflow: auto; width: 380px; }